<!-- <p>main-view works!</p> -->
<div class="contain">
    <div class="filter">
        <app-filter-by-date></app-filter-by-date>

        <div class="btns-select">
            <button class="btn-select-view" (click)="showCalendarView()">
                Calendario
            </button>
            <button class="btn-select-view" (click)="showKanbanView()">
                Kanban
            </button>
        </div>
    </div>

    <div class="views-container">
        <app-kanban *ngIf="showKanban"></app-kanban>
        <app-calendar *ngIf="showCalendar"></app-calendar>
    </div>
    
</div>


